# Ignore PostgreSQL data directory (this is where the database files are stored)
pgdata/

# Ignore environment variable files
.env

# Ignore .venv files
.venv/
.venv

# Ignore Python bytecode files
*.pyc
__pycache__